// variables
$background-color: #FAFAF3;
$primary-color: #D22226;
$font-color: black;
$secondary-fontcolor: #D22226;
$heading-color: black;
$secondary-headingcolor: white;
$third-fontcolor: white;
$font: "Courier New", serif;
$button-color: #D22226;
$heading-size: 32px;
$font-size: 16px;
$font-size-tablet: 20px;





