.container {
		height: 100vh;
		background-color: $background-color;
}

.container2 {
	width: 360px;
	height: 330px;
	margin-left: 15px;
	padding: none;
	overflow-y: scroll;
}

.menuContainer {
	height: 100vh;
	background-color: $background-color;
}

