.item1 {
	padding-left: 15px;
	color: black;
	font-family: $font;
	font-weight: 100;
	display: -webkit-flex;
  	display: flex;
   .quantityButton{
		display: flex;
		flex-direction:row;
		}
}
.initial {
  -webkit-flex: initial;
    flex: initial;
  	width: 250px;
  	min-width: 100px;
  	padding-top: 8px;
}
.initial2 {
  -webkit-flex: none;
  flex: none;
  width: 40px;
  padding-right: 10px;

}

.item2 {
	padding-left: 15px;
	color: black;
	font-family: $font;
	font-weight: 100;
	display: -webkit-flex;
  	display: flex;
  .quantityButton{
		display: flex;
		flex-direction:row;
		}
}
.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 250px;
  min-width: 100px;
}
.initial2 {
  -webkit-flex: none;
  flex: none;
  width: 50px;
}

.item3 {
	padding-left: 15px;
	color: black;
	font-family: $font;
	font-weight: 100;
	display: -webkit-flex;
  	display: flex;
  	line-height: 1;
 	.quantityButton{
		display: flex;
		flex-direction:row;
		}
}
.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 250px;
  min-width: 100px;
}
.initial2 {
  -webkit-flex: none;
  flex: none;
  width: 50px;
}

.item4 {
	padding-left: 15px;
	color: black;
	font-family: $font;
	font-weight: 100;
	display: -webkit-flex;
  	display: flex;
    .quantityButton{
		display: flex;
		flex-direction:row;
		}
}
.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 250px;
  min-width: 100px;
}
.initial2 {
  -webkit-flex: none;
  flex: none;
  width: 50px;
}

.item5 {
	padding-left: 15px;
	color: black;
	font-family: $font;
	font-size: 16px;
	display: -webkit-flex;
  	display: flex;
    .quantityButton{
		display: flex;
		flex-direction:row;
		}
}
.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 250px;
  min-width: 100px;
}
.initial2 {
  -webkit-flex: none;
  flex: none;
  width: 50px;
}


.item5 {
	padding-bottom: 0px;
}
.item3 {
	margin-bottom: 0px;
}
.item4 {
	margin-bottom: 0px;
}



